#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;

  h3 {
    height: 0;
    opacity: 0;
  }

  .container {
    display: inline-block;
    padding: 5vmin;
    border-radius: var(--border-radius);
    background-color: rgba(color(background), 0.5);
    box-shadow: 0 0 50px 0 rgba(color(primary), 0.2);
    text-align: center;

    a:not(:last-child) {
      margin: 0.5rem;

      &:not(.link-codepen) {
        font-size: clamp(1rem, 4vw, 1.5rem);
      }
    }
  }
}
