.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;

  position: relative;
  padding: 3rem 1rem;
  color: var(--color-light);

  p:first-child {
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p a {
    color: inherit;
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}
