// stylelint-disable no-descending-specificity
html {
  // stars
  background: var(--color-background)
    url("https://drive.google.com/uc?export=view&id=1hfcViazx0a6X9S4A-lFAjK5U1oXtc8ak") repeat;
}

body {
  color: var(--color-text);
  font-family: var(--font-family);

  // twinkle
  &:before {
    content: "";
    display: block;
    width: 10000px;
    height: 100%;
    background: transparent
      url("https://drive.google.com/uc?export=view&id=1WZzOaWIapVCik8W_6-9RzlTg_zkC-OpJ")
      repeat;
    background-size: 1000px 1000px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;

    animation: move-background 70s linear infinite;
  }

  // clouds
  &:after {
    content: "";
    display: block;
    width: 10000px;
    height: 100%;
    background: transparent
      url("https://drive.google.com/uc?export=view&id=1tWroH5yKPCAJDP26EsoaFPcAI3ZLyQWB")
      repeat;
    background-size: 1000px 1000px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    animation: move-background 150s linear infinite;
  }
}

@keyframes move-background {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(1000px, 0px, 0px);
  }
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }
}

article {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}
