nav {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    background-color: rgba(color(primary), 0.2);
    border-radius: var(--border-radius-round);

    a {
      display: inline-grid;
      padding: 1rem;
      border-radius: var(--border-radius-round);
      color: var(--color-highlight);
      font-size: 1.25rem;
      text-decoration: none;
      transition: ease-in-out 0.25s;

      &:hover,
      &:focus {
        color: var(--color-primary);
        background-color: rgba($color-highlight, 0.2);
        box-shadow: 0 0 1em 0.5em rgba(color(primary), 0.5);
      }
    }

    li {
      margin: 0.25rem;
    }
  }
}
