.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

  /*!
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
  li {
    display: grid;
    position: relative;
    place-content: center;
    min-height: 12rem;
    padding: 1rem;
    color: var(--color-light);
    text-align: center;
    transition: 0.25s ease-in-out;

    &:hover,
    &:focus {
      transform: translate(0, -0.5em);
    }

    > span {
      display: grid;
      place-content: center;
      padding: 2em;
      grid-gap: 0.5rem;
      border-radius: var(--border-radius);
      background-color: rgba(color(background), 0.2);
      box-shadow: 0 0 50px 0 rgba(color(primary), 0.5);
      line-height: 1.1;

      a {
        color: inherit;
        font-size: 1.3rem;
        font-weight: var(--font-weight-strong);
        text-decoration: none;

        // stylelint-disable-next-line max-nesting-depth
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
        }
      }

      span:nth-child(2) {
        position: relative;
        font-size: small;
      }
    }
  }
}

#styles {
  margin: 5vh 0 5vh;
  text-align: center;

  h2 {
    color: var(--color-primary);
  }
}
